.shopping-container {
  background: #001f2b;
  padding: 20px;
  text-align: center;
  color: black;
  border: 2px solid #0a3c4d;
  border-radius: 10px;
}

h2 {
  color: white;
}

.row-container {
  background: white;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid #0a3c4d;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
}

.box {
  background: #f3f3f3;
  width: 35%;
  border: 2px solid #0a3c4d;
  border-radius: 10px;
  padding: 15px;
}

.box-header {
  background: #0a3c4d;
  color: white;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
