.parent {
  width: 350px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

label {
  font-size: 14px;
  font-weight: 600;
  display: block;
}

input {
  width: 100%;
  padding: 6px;
  margin: 5px 0 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px #007bff;
}
